
  	body{
  		background: url(img/background.jpg);
  	}
  	.cocontainer{
  		margin: 0 auto;
  		width: 100%;
  		height: 100%;
  		position: relative;
  	}
  	
  	canvas{
  		position: absolute;
        border:  4px solid #800000;
        display: block;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%)
    }
    .button {
      height: 480px;
    }
    .game_over, .pause{
      height: 0;
       font-size: 30px;
      text-align: center;
    }
    .game_over button, .pause button, .button button, .score_board button{
      border: none;
      outline: none;
      width: 200px;
      background: inherit;
    }
    .game_over button img, .pause button img, .button button img{
      width: 200px;
      border-radius: 50px;
    }
    .button, .game_over, .pause{
    	width: 480px;
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
    	align-items: center;
    	position: absolute;
      font-family: arial,"sans-serif";
    	background: rgba(12,155,122,7.9);
    	top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      overflow: hidden;
      transition: .1s;
  }
  .button form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .button form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin: 5px auto;
  }
  .button form input{
    width: 30px;
  }
    .score_board{
      font-family: arial,"sans-serif";
      background:  rgba(12,155,122,7.9);
      width: 480px;
      height: auto;
      border: 4px solid #800000;
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translate(-50%,0);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
    .score_number{
      width: 160px;
      display: block;
    }
    .setting{
      display: block;
      background: inherit;
      outline: none;
      border: none;
      width: 50px;
      height: 50px;
    }
    .setting img{
      width: 50px;
      height: 50px;
    }
    button{
      	margin: 0 auto;

    }
    .game_over button img:hover{
     box-shadow: 8px 8px 4px red;
    }

    .score_board button img:hover{
     box-shadow: 4px 4px 4px black;
    }
    .button  {
     box-shadow: 8px 8px 4px red;
    }
    .pause button img:hover{
      box-shadow: 0px 8px 4px red;
    }

